/* Maxime CSS */


footer{
    background-color: grey;
    padding: 2rem;
}

footer > p img{
    width: 1rem;
    height: 1rem;
}

h1, h2, h3, h4{
    color: blue;
}

header{
    text-align: center;
    background-color: grey;
}

nav{
    padding: 2rem;
}

nav > ul > li{
    list-style-type: none;
    display: inline;
    padding: 5vw;
}

main > ul > li{
    list-style-type: none;
}

section{
    background-color: rgb(168, 250, 250);
}

