header, footer{
    background-color: lightgrey;
}

h1,h2{
    color: blue;
}

nav > ul > li{
    display: inline;
    padding: 9em;
    list-style-type: none;
} 
header>h1{
    text-align: center;
}
p>img{
    width: 1rem;
    height: 1rem;   
}
