body{
    display: flex;
    flex-wrap: wrap
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    flex-grow: 1;
}

h2{
    flex-basis: 100%
}

section{
    flex-basis: 40%;
    flex-grow: 1;
    margin: 0.25em
}

header,footer{
    flex-basis: 100%;
}
