header, footer{
    background-color:lightgrey;
}

h1,h2{
    color:blue;
}

ul, li{
    list-style: none;
}

nav > ul > li{
    display: inline;
    padding: 8vw;
    list-style-type: None;
}

main section{
    background-color: lightblue;
}
h1{
    text-align: center;
}
p>img{
    width: 1rem;
    height: 1rem;
}