main{
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vmin;
}
section{
    flex-basis: 40%;
    flex-grow: 1;
    margin: 1vmin;
}
h2{
    flex-basis: : 100%;
}
body{
    display:flex;
    flex-wrap: wrap;
}
footer{
    flex-basis: 100%;
}
h2{
    flex-basis: 100%;
}
header{
    flex-basis: 100%;
}
aside{
    margin-left: 5%;
}